.content {
    padding: 1rem;
}
.movie-card {
    padding: 1rem;
    float: left;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-background);
    justify-content: center;
    margin: 0.5rem;
    border-radius: 12px;
    box-shadow: 4px 4px 32px 0 #1B1E28;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    }
    
    img {
        max-height: 350px;
        border-radius: 8px;
    }
    
    .movie-details {
        margin: 1rem 0;
        p {
            margin: 0;
        }
        
        .movie-title {
            color: var(--dark-primary);
        }
    }
}