@page "/"
@using System.Net
@using GhiblixBlazor.Services
@using GhiblixShared.Models
@inject IGhibliDataService GhibliDataService 

<PageTitle>Overview</PageTitle>

<div class="content">
    @if (_ghibliData == null)
    {
        <p>Loading Movies...</p>
    }
    else
    {
        @foreach (var movie in _ghibliData.Movies)
        {
        <div class="movie-card clearfix">
            <img src="@movie.MovieBanner" alt="">
            <div class="movie-details">
                <p class="movie-title">@movie.Title</p>
                <p class="movie-title">@movie.OriginalTitle</p>
                <p>Release Date: @movie.Year</p>
            </div>
        </div>
        }
    }
</div>

@code {

    private GhibliData? _ghibliData;

    protected override async Task OnInitializedAsync()
    {
        _ghibliData = await GhibliDataService.LoadGhibliData();
    }

}
