:root {
    --dark-background-secondary: #303340;
    --dark-background: #1B1E28;
    --dark-foreground: #A6ACCD;
    --dark-primary: #D0679D;
    --dark-green: #5DE4C7;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-background-secondary);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: var(--dark-foreground); 
}

a {
    color: var(--dark-foreground);
    &.active {
        color: var(--dark-primary) !important;
        font-weight: bold;
    }
    text-decoration: none;
    p {
        margin: 0;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.loading-progress {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
