<div class="nav-menu">
    <h1 class="nav-title">Ghiblix</h1>
    <div class="nav-right">
        <NavLink href="" Match="NavLinkMatch.All">
            <p class="nav-link">Overview</p>
        </NavLink>
        <NavLink href="weather">
            <p class="nav-link">Compare</p>
        </NavLink>
        <div class="heartbeat-circle"></div>
    </div>
</div>
